{% extends 'base.html.twig' %}

{% block title %}WESTAF TECH | Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <!-- ============================
        Slider
    ============================== -->
    <section class="slider">
      <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
        data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="{{asset('assets/images/sliders/1.jpg')}}" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide-item__content">
                  <h6 class="slide-item__title">Westaf Tech</h6>
                  <p class="slide-item__desc">Agence digitale spécialiste de la création de site internet sur mesure, la création et mise en oeuvre de stratégie digitale, le référencement naturel et payant ainsi que le webmarketing.</p>
                  <a href="{{path('Service')}}" class="btn btn__primary btn__primary-style2 btn__hi mr-30" style="background-color: #0E2B5C">Nos
                    Services</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay">
          <div class="bg-img"><img src="{{asset('assets/images/sliders/2.jpg')}}" alt="slide img"></div>
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                <div class="slide-item__content">
                  <h2 class="slide-item__title">West African Technology</h2>
                  <p class="slide-item__desc">Nous Avons pour mission de vous accompagner sur vos projets digitaux, de l’étape d’avant projet web au lancement effectif du site. Tout au long de la durée de vie de nos projets communs, nous mettons tout en oeuvre pour vous proposer des stratégies digitales efficaces et vous permettre d’atteindre vos objectifs.</p>
                  <a href="/WESTAF-TECH/A-Propos" class="btn btn__primary btn__primary-style2 btn__hi mr-30" style="background-color: #0E2B5C">Notre Agence</a>
                </div><!-- /.slide-content -->
              </div><!-- /.col-xl-7 -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </div><!-- /.slide-item -->
      </div><!-- /.carousel -->
    </section><!-- /.slider -->

    <!-- ========================
      About Layout 5
    =========================== -->
    <section class="about-layout5 pt-130 pb-0">
      <div class="container">
        <div class="row heading-layout2">
          <div class="col-12">
            <h2 class="heading__subtitle color-body">West African Techonolgy</h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <h3 class="heading__title mb-30">Westaf Tech vous propose les <span class="underlined-text">meilleures solutions digitales</span> au meilleures prix.
            </h3>
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 offset-xl-1">
            <div class="about__Text">
              <p>Notre agence vous accompagne dans le développement de site web spécifique avec des outils de pointe comme le framework Symfony ou Laravel. Notre mission est de vous révéler, vous différencier et vous sublimer à travers des projets digitaux efficaces, uniques et avant-gardistes !</p>
            </div>
            <ul class="list-items list-items-layout2 list-horizontal list-unstyled d-flex flex-wrap mt-40 mb-30">
              <li>STRATÉGIE DIGITALE</li>
              <li>REFONTE DE SITE</li>
              <li>DIRECTION ARTISTIQUE  </li>
              <li>UI/UX DESIGN</li>
              <li>WEBMARKETING </li>
              <li>RÉFÉRENCEMENT SEO</li>
            </ul>
            <img src="{{asset('assets/images/about/singnture.png')}}" alt="singnture">
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 5 -->

    <!-- ========================
        Services Layout 2
    =========================== -->
    <section class="services-layout3 pt-40 pb-100">
      <div class="container">
        <div class="row">
          <!-- service item #1 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Création de site internet</h4>
                <p class="service-item__desc">Découvrez la présentation de notre service de création de site web sur mesure pour votre marque ou entreprise.
                Notre agence web vous accompagne dans la création ou la refonte de votre site internet professionnel sur mesure.</p>
                <a href="{{path('Service')}}" class="btn btn__secondary btn__link">
                  <span>En Savoir Plus</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src="{{asset('assets/images/services/1.jpg')}}" alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #2 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                 
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Webmarketing</h4>
                <p class="service-item__desc">Certifiée Google Partner Premium, notre agence digitale a développé un pôle d’experts en stratégie, référencement naturel, référencement payant (campagnes Google Ads et Social Ads), marketing automation et community management. Notre approche permet d’allier webdesign et performance. </p>
                <a href="{{path('Service')}}" class="btn btn__secondary btn__link">
                  <span>En Savoir Plus</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src="{{asset('assets/images/services/2.jpg')}}" alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div><!-- /.col-lg-4 -->
          <!-- service item #3 -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="service-item">
              <div class="service-item__content">
                <div class="service-item__icon">
                  
                </div><!-- /.service-item__icon -->
                <h4 class="service-item__title">Email Marketing</h4>
                <p class="service-item__desc">Nous sommes rodés aux bonnes pratiques du marketing automation et de l'email marketing et offrons un service clé en main, de l’élaboration du message à l'optimisation des performances de vos campagnes grâce à l'A/B testing, jusqu'à la remise du reporting détaillé.
                </p>
                <a href="{{path('Service')}}" class="btn btn__secondary btn__link">
                  <span>En Savoir Plus</span>
                  <i class="icon-arrow-right"></i>
                </a>
              </div><!-- /.service-content -->
              <div class="service-item__overlay bg-overlay bg-overlay-primary">
                <div class="bg-img"><img src="{{asset('assets/images/services/3.jpg')}}" alt="background"></div>
              </div><!-- /.service-item__overlay -->
            </div><!-- /.service-item -->
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Services Layout 2 -->

    <!-- ========================
      About Layout 2
    =========================== -->
    <section class="about-layout2 pb-130 bg-gray">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <div class="about__img">
              <img src="{{asset('assets/images/about/2.jpg')}}" alt="about">
            </div><!-- /.about-img -->
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
            <div class="heading-layout2 mb-30">
              <h3 class="heading__title mb-30">Refonte de site ou développement spécifique
              </h3>
            </div><!-- /heading -->
            <div class="about__Text">
              <p>Nos consultants vous accompagnent depuis la phase d’audit de l’existant, la rédaction de votre cahier des charges, jusqu’à l’optimisation du référencement naturel (SEO) de votre site pour préserver votre visibilité et développer vos ventes.</p>
              <p>Nos développeurs maitrisent parfaitement les principaux CMS du marché comme Drupal, Typo3, Spip ou Wordpress, ainsi que les CMS E-commerce comme Magento2, Prestashop, et peuvent vous accompagner sur vos projets de création comme de migration de sites.</p>
            </div>
          </div><!-- /.col-xl-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.About Layout 2 -->
    <!-- =========================
      Awards
      =========================== -->
    <section class="awards pt-20 pb-100">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="heading-layout2">
              <h3 class="heading__title mb-50">Quelques Références </h3>
            </div>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row awards-wrapper">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #1 -->
            <div class="fancybox-item">
              <div class="fancybox-item__icon__img">
                <img src="assets/images/awards/icons/1.png" alt="icon">
              </div><!-- /.fancybox-item__icon__img -->
              <div class="fancybox-item__content">
                <h4 class="fancybox-item__title">CSS Design Award</h4>
                <p class="fancybox-item__desc">A web design & development award platform for digital folk, UI/UX peeps
                  and inspiring leaders of the web.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #2 -->
            <div class="fancybox-item">
              <span class="pinned-ribbon"></span>
              <div class="fancybox-item__icon__img">
                <img src="assets/images/awards/icons/2.png" alt="icon">
              </div><!-- /.fancybox-item__icon__img -->
              <div class="fancybox-item__content">
                <h4 class="fancybox-item__title">W3 Design Award</h4>
                <p class="fancybox-item__desc">Awards celebrates digital by honoring outstanding Websites, Web
                  Marketing, Video, Sites, Apps & Social content.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #3 -->
            <div class="fancybox-item">
              <div class="fancybox-item__icon__img">
                <img src="assets/images/awards/icons/3.png" alt="icon">
              </div><!-- /.fancybox-item__icon__img -->
              <div class="fancybox-item__content">
                <h4 class="fancybox-item__title">The FWA Award</h4>
                <p class="fancybox-item__desc">Showcasing innovation every day since 2000, our mission is to showcase
                  cutting edge creativity, regardless
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <!-- fancybox item #4 -->
            <div class="fancybox-item">
              <div class="fancybox-item__icon__img">
                <img src="assets/images/awards/icons/4.png" alt="icon">
              </div><!-- /.fancybox-item__icon__img -->
              <div class="fancybox-item__content">
                <h4 class="fancybox-item__title">WWW Awards</h4>
                <p class="fancybox-item__desc">The awards that recognize the talent and effort of the best web
                  designers, developers and agencies in the world.
                </p>
              </div><!-- /.fancybox-content -->
            </div><!-- /.fancybox-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Awards -->
    <!-- =========================
       Banner layout 1
      =========================== -->
    <section class="banner-layout1 pt-90 pb-90 bg-overlay bg-overlay-primary" style="background-color: #0E2B5C">
      
      <div class="container-fluid" style="background-color: #0E2B5C">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="col-inner">
              <div class="heading-layout2 heading-light mb-40">
                <h3 class="heading__title mb-30">Nous faisons partir des meilleures agences digitales en Afrique l'Ouest!!</h3>
                <p class="heading__desc">Westaf Tech vous propose une gamme complète de services : des compétences techniques, en passant par la conception mais aussi la capacité à se mettre à la place du client. Elle est destinée à établir un partenariat sur le long terme et à fonctionner comme une extension de l'équipe déjà en place dans l’entreprise.
                </p>
                <p class="heading__desc">Notre équipe s’engage à vos côtés, dès la première prise de brief. Avec plus de 80% de collaboration à long terme, notre agence digitale met un point d’honneur à créer une relation sur la durée avec ses clients
                </p>
              </div><!-- /.heading -->
              <div class="client-story mt-150">
                <img src="assets/images/clients/6.png" alt="signature" class="client__logo mb-30">
                <p class="client__quote">“Se réunir est un début,rester ensemble est un progrès,travailler ensemble est la réussite.”
                </p>
                <div>
                  <span class="client__signature">Igore ADJOTIN,</span>
                  <span class="client__signature__title">Digital Media Manager</span>
                </div>
              </div><!-- /.client-story -->
            </div>
          </div><!-- /.col-xl-6 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <div class="contact-panel">
              <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <h4 class="contact-panel__title">Parlons de votre projet !</h4>
                  </div> <!-- /.col-lg-12 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="contact-name">Name (required)</label>
                      <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                        required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="contact-email">Email (required)</label>
                      <input type="email" class="form-control" placeholder="Email" id="contact-email"
                        name="contact-email" required>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="contact-Phone">Inquiry (required)</label>
                      <select class="form-control">
                        <option value="0">IT Management Services</option>
                        <option value="1">IT Management Services 2</option>
                        <option value="2">IT Management Services 3</option>
                      </select>
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                      <label for="contact-Phone">Phone (Optional)</label>
                      <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                        name="contact-phone">
                    </div>
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <label for="contact-message">Additional Details (optional)</label>
                      <textarea class="form-control" placeholder="Describe your inquirey!" id="contact-message"
                        name="contact-message"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center mb-20">
                      <input type="checkbox" class="custom-control-input" id="terms">
                      <label class="custom-control-label" for="terms">I accept the privacy and terms.</label>
                    </div>
                    <button type="submit" class="btn btn__secondary btn__xl btn__block">Submit Request </button>
                    <div class="contact-result"></div>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><br><br><br><br><!-- /.Banner layout 1 -->
    <!-- ========================= 
      Testimonials layout 1
      =========================  -->
    <section class="testimonials testimonials-layout1 testimonials-has-top-img text-center">
      <div class="bg-img"><img src="assets/images/backgrounds/4.jpg" alt="backgrounds"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="heading text-center mb-40">
              <h3 class="heading__title " style="color: #0E2B5C">Témoignages de nos clients</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="testimonials-wrapper">
              <div class="slider-with-navs">
                <!-- Testimonial #1 -->
                <div class="testimonial-item">
                  <p class="testimonial-item__desc">Je devais refondre mon site afin d'améliorer l'entonnoir. L'équipe Westaf Tech, à été performante et experte sur ce sujet.Ils ont fait de mon site, un endroit agréable et fluide qui permet de mieux commander sans s'énerver. MERCI!!!
                  </p><br><br>
                  <div class="testimonial-item__meta">
                    <h4 class="testimonial-item__meta__title">Elen Pessel</h4>
                    <p class="testimonial-item__meta__desc">Directrice générale</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <p class="testimonial-item__desc">Mon projet était une tâche simple et petite, mais la persévérance et la détermination de Westaf Tech ont fait un projet génial  qui me rend heureux
                  </p><br><br><br><br>
                  <div class="testimonial-item__meta">
                    <h4 class="testimonial-item__meta__title">Moussa sow</h4>
                    <p class="testimonial-item__meta__desc">Restaurateur</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #3 -->
                <div class="testimonial-item">
                  <p class="testimonial-item__desc">J'étais seule, et très occupée par autre chose dans ma société, c'est pour cela que l'équipe Westaf Tech, à toujours été là pour moi, même lorsqu'il ont du travailler sans moi. Très à l'écoute, de bon conseil et agréables.
                  </p><br><br>
                  <div class="testimonial-item__meta">
                    <h4 class="testimonial-item__meta__title">Elise Vermuse</h4>
                    <p class="testimonial-item__meta__desc">Chargée de communication</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #2 -->
                <div class="testimonial-item">
                  <p class="testimonial-item__desc">Nous travaillons ensemble depuis plusieurs années .  Chaque mois, de juin à août, nous créons 5 énigmes ludiques et lien avec nos valeurs. 
                  </p>
                  <div class="testimonial-item__meta">
                    <h4 class="testimonial-item__meta__title">Diane Desquerre</h4>
                    <p class="testimonial-item__meta__desc">Responsable communication innovation</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
                <!-- Testimonial #3 -->
                <div class="testimonial-item">
                  <p class="testimonial-item__desc">C'est un réel plaisir de travailler avec l'agence.Elle est professionnelle et réactive. Elle a su s'adapter à notre cahier des charges pour nous créer une belle présence digitale.
                  </p>
                  <div class="testimonial-item__meta">
                    <h4 class="testimonial-item__meta__title">Ophélie Mokhtari</h4>
                    <p class="testimonial-item__meta__desc">Assistante marketing & direction</p>
                  </div><!-- /.testimonial-meta -->
                </div><!-- /. testimonial-item -->
              </div>
              <div class="slider-nav">
                <div class="testimonial-item__thumb">
                  <img src="{{asset('assets/images/testimonials/test1.jpg')}}" alt="Témoignages clients WESTAF-TECH">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial-item__thumb">
                  <img src="{{asset('assets/images/testimonials/test3.jpg')}}" alt="Témoignages clients WESTAF-TECH">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial-item__thumb">
                  <img src="{{asset('assets/images/testimonials/test5.jpg')}}" alt="Témoignages clients WESTAF-TECH">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial-item__thumb">
                  <img src="{{asset('assets/images/testimonials/thumbs/2.png')}}" alt="Témoignages clients WESTAF-TECH">
                </div><!-- /.testimonial-thumb -->
                <div class="testimonial-item__thumb">
                  <img src="{{asset('assets/images/testimonials/test4.jpg')}}" alt="Témoignages clients WESTAF-TECH">
                </div><!-- /.testimonial-thumb -->
              </div><!-- /.slcik-nav -->
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.testimonials 1 -->

      <!-- =====================
           Clients
        ======================== -->
         <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-40">
              <h3 class="heading__title">Ils nous font confiance</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div>
    <section class="clients border-top pt-50 pb-50">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 6, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ambassade-france-senegal.jpg')}}" alt="Westaf-Tech-ambassade-france-senegal.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ambassade-france-senegal.jpg')}}" alt="Westaf-Tech-ambassade-france-senegal.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westf-Tech-LOGO-SONATEL-HD-FB.jpg')}}" alt="Westf-Tech-LOGO-SONATEL-HD-FB.jpg">
                <img src="{{asset('assets/images/clients/Westf-Tech-LOGO-SONATEL-HD-FB.jpg')}}" alt="Westf-Tech-LOGO-SONATEL-HD-FB.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="assets/images/clients/Westaf-Tech-logo-bem.jpg" alt="Westaf-Tech-logo-bem.jpg">
                <img src="assets/images/clients/Westaf-Tech-logo-bem.jpg" alt="Westaf-Tech-logo-bem.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-giz.jpg')}}" alt="Westaf-Tech-giz.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-giz.jpg')}}" alt="Westaf-Tech-giz.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-Keur-Boroom.jpg')}}" alt="Westaf-Tech-Keur-Boroom.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-Keur-Boroom.jpg')}}" alt="Westaf-Tech-Keur-Boroom.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ADEPME.jpg')}}" alt="Westaf-Tech-ADEPME.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ADEPME.jpg')}}" alt="Westaf-Tech-ADEPME.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-logo-ashinaga.jpg')}}" alt="Westaf-Tech-logo-ashinaga.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-logo-ashinaga.jpg')}}" alt="Westaf-Tech-logo-ashinaga.jpg">
              </div><!-- /.client -->
            </div><!-- /.carousel -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.clients -->
{% endblock %}
