{% extends 'base.html.twig' %}

{% block title %}WESTAF TECH | Nos Services{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<section class="page-title page-title-layout1 bg-overlay bg-parallax">
      <div class="bg-img"><img src="{{ asset('assets/images/page-titles/1.jpg')}}" alt="Services Westaf | Tech"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
            <h1 class="pagetitle__heading">Nos Services</h1>
            <p class="pagetitle__desc">Nous sommes passionnés par notre domaine d’activité et les projets dans lesquels nous sommes investis. Ainsi notre équipe veille, recherche et analyse constamment les tendances digitales afin de toujours proposer des solutions innovantes, uniques et adaptées à vos projets.
            </p>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

     <section class="about-layout2 pb-130 bg-gray">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <div class="about__img">
              <img src="{{asset('assets/images/about/2.jpg')}}" alt="Services Westaf | Tech">
     
            </div><!-- /.about-img -->
          </div><!-- /.col-xl-5 -->
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
            <div class="heading-layout2 mb-30">
              <h2 class="heading__subtitle" style="color: #0E2B5C">West African Technology</h2>
              <h3 class="heading__title mb-30">Plusieurs domaines de compétences au service de votre image et de votre performance
              </h3>
            </div><!-- /heading -->
            <div class="about__Text">
              <p>La mission de Westaf Tech est de vous accompagner sur vos projets digitaux, de l’étape d’avant projet web au lancement effectif du site. Tout au long de la durée de vie de nos projets communs, nous mettons tout en oeuvre pour vous proposer des stratégies digitales efficaces et vous permettre d’atteindre vos objectifs.</p>
            </div>
          </div><!-- /.col-xl-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>

    <section class="history-timeline pb-0">
      <div class="history-timeline-bg">
        <div class="bg-img"><img src="{{asset('assets/images/backgrounds/7.jpg')}}" alt="background-Westaf tech"></div>
      </div>
      <div class="container">
        <div class="row heading heading-layout2 mb-90">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <h1 class="heading__subtitle" style="color: white">Découvrez ici nos services</h1>
          </div><!-- /.col-lg-6 -->
          <div class="col-sm-12 col-md-12 col-lg-6">
            <h3 class="heading__title color-white">L'une des meilleurs agences digitales depuis 2014.</h3>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="timeline-bar"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="timeline-carousel-wrapper">
              <div class="slick-carousel carousel-arrows-light"
                data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": true, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 768, "settings": {"slidesToShow": 2}}, {"breakpoint": 570, "settings": {"slidesToShow": 1}}]}'>
                <!-- timeline Item #1 -->
                <div class="timeline-item">
                  <h4 class="timeline-item__year">Création de Site Internet</h4>
                  <p class="timeline-item__desc">Nous sommes en mesure de comprendre votre besoin et de vous proposer la solution la plus adaptée en matière de webdesign et de technologie web. Nos compétences en création de site internet sont variées. Que vous souhaitiez générer des prospects en ligne ou vendre vos produits sur le web, développer votre notoriété , nous vous accompagnons dans la création ou la refonte de votre site internet professionnel sur mesure.
                  </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #2 -->
                <div class="timeline-item">
                  <h4 class="timeline-item__year">Webmarketing</h4>
                  <p class="timeline-item__desc">Nous conçevont des sites pensés et optimisés pour l’utilisateur, le référencement naturel et vos objectifs de conversions. Notre approche permet d’allier webdesign et performance. Vous obtenez un site à votre image et conçu en fonction de votre stratégie digitale. A la livraison de votre site, vous avez la possibilité d’actionner différents leviers webmarketing afin de gagner en visibilité, d’obtenir plus de trafic sur votre site, de générer des leads ou d’augmenter vos ventes.</p>
                  
                </div><!-- /.timeline-item -->
                <!-- timeline Item #3 -->
                <div class="timeline-item">
                  <h4 class="timeline-item__year">Stratégie Digitale</h4>
                  <p class="timeline-item__desc">Nous vous accompagnons dans la définition de votre stratégie de communication digitale personnalisée, pendant ou après la conception de votre site web. SEO, SEA, display, réseaux sociaux,marketing automation… Nous vous aidons à faire les bons choix ! Nous analysons la concurrence et définissons un plan d’action redoutable en fonction de vos cibles et de vos ressources afin d’atteindre les objectifs fixés. </p>
                </div>
				<!-- /.timeline-item -->
				  <div class="timeline-item">
                  <h4 class="timeline-item__year">MAINTENANCE</h4>
                  <p class="timeline-item__desc">Aujourd'hui la maintenace de votre site web est nécéssaire afin de: gérer les ventes, la facturation, répondre au message, suivre les avis, gérer les réponses aux formulaires, ajouter des produits, des contenus, des photos... La maintenace comprend aussi la gestion technique : faire les sauvegardes, mettre à jour la solution CMS,  mettre à jour les plugins ou widgets, faire du monitoring afin que votre site supporte la charge, corriger les bugs et bien d’autres taches.</p>
                </div>
                <!-- timeline Item #4 -->
                  <div class="timeline-item">
                  <h4 class="timeline-item__year">Webdesign</h4>
                  <p class="timeline-item__desc">Grâce au développement web d’un support à forte valeur perçue, prêt pour atteindre vos objectifs, il est temps de créer de la valeur ! Nous mettons en place des stratégies soutenues par un plan d’action webmarketing afin de créer et d’alimenter votre entonnoir de conversion digital. À ce stade, nous générons des prospects et des ventes !</p>
                </div>

                  <div class="timeline-item">
                  <h4 class="timeline-item__year">Refonte de site Internet</h4>
                  <p class="timeline-item__desc">Notre agence vous accompagne dans le développement de site web spécifique avec des outils de pointe comme le framework Symfony ou Laravel. Nos consultants vous accompagnent depuis la phase d’audit de l’existant, la rédaction de votre cahier des charges, jusqu’à l’optimisation du référencement naturel (SEO) de votre site pour préserver votre visibilité et développer vos ventes. </p>
               <!-- /.timeline-item -->
              </div><!-- /.carousel -->
            </div>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="download-area">
            	 <a href="#" class="btn btn__white btn__bordered btn__xl btn__icon mb-30">
                <span >Demander un Devis</span>
                <i class="icon-arrow-right"></i>
              </a>
       
              
            </div>
          </div><!-- /.col-lg-5 -->
          <div class="col-sm-12 col-md-12 col-lg-7" >
            <div class="cta-banner  bg-overlay-primary" style="background-color: #0E2B5C" >
              
            <br><br><br><br><br><br>
              
            </div><!-- /.cta-banner -->
          </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
    <br><br>
    <section class="banner-layout2 pt-0 pb-100" style="background-color: #0E2B5C">
      
      <div class="container">
        <div class="row">
        </div><!-- /.row -->
        <div class="row counters-wrapper counters-light mt-70">
          <!-- counter item #1 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">350</h4>
              <p class="counter-item__desc">Projets et logiciels développés</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
          <!-- counter item #2 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">50</h4>
              <p class="counter-item__desc">Employés et développeurs qualifiés avec nous</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
          <!-- counter item #3 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">340</h4>
              <p class="counter-item__desc">Clients satisfaits que nous avons servis dans le monde</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
          <!-- counter item #4 -->
          <div class="col-6 col-sm-6 col-md-3 col-lg-3">
            <div class="counter-item">
              <h4 class="counter">7</h4>
              <p class="counter-item__desc">Années d'expérience dans la digitalisation des entreprises et la conception des logiciels</p>
            </div><!-- /.counter-item -->
          </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section>
      <br><br>
     <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
            <div class="heading text-center mb-40">
              <h3 class="heading__title">Ils nous font confiance</h3>
            </div><!-- /.heading -->
          </div><!-- /.col-lg-6 -->
        </div>
    <section class="clients border-top pt-50 pb-50">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="slick-carousel"
              data-slick='{"slidesToShow": 6, "arrows": false, "dots": false, "autoplay": true,"autoplaySpeed": 2000, "infinite": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 4}}, {"breakpoint": 767, "settings": {"slidesToShow": 3}}, {"breakpoint": 480, "settings": {"slidesToShow": 2}}]}'>
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ambassade-france-senegal.jpg')}}" alt="Westaf-Tech-ambassade-france-senegal.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ambassade-france-senegal.jpg')}}" alt="Westaf-Tech-ambassade-france-senegal.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westf-Tech-LOGO-SONATEL-HD-FB.jpg')}}" alt="Westf-Tech-LOGO-SONATEL-HD-FB.jpg">
                <img src="{{asset('assets/images/clients/Westf-Tech-LOGO-SONATEL-HD-FB.jpg')}}" alt="Westf-Tech-LOGO-SONATEL-HD-FB.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="assets/images/clients/Westaf-Tech-logo-bem.jpg" alt="Westaf-Tech-logo-bem.jpg">
                <img src="assets/images/clients/Westaf-Tech-logo-bem.jpg" alt="Westaf-Tech-logo-bem.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-giz.jpg')}}" alt="Westaf-Tech-giz.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-giz.jpg')}}" alt="Westaf-Tech-giz.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-Keur-Boroom.jpg')}}" alt="Westaf-Tech-Keur-Boroom.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-Keur-Boroom.jpg')}}" alt="Westaf-Tech-Keur-Boroom.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ADEPME.jpg')}}" alt="Westaf-Tech-ADEPME.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-ADEPME.jpg')}}" alt="Westaf-Tech-ADEPME.jpg">
              </div><!-- /.client -->
              <div class="client">
                <img src="{{asset('assets/images/clients/Westaf-Tech-logo-ashinaga.jpg')}}" alt="Westaf-Tech-logo-ashinaga.jpg">
                <img src="{{asset('assets/images/clients/Westaf-Tech-logo-ashinaga.jpg')}}" alt="Westaf-Tech-logo-ashinaga.jpg">
              </div><!-- /.client -->
            </div><!-- /.carousel -->
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Banner layout 2 -->
{% endblock %}
