<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Entreprise de logiciel">
  <link href="{{asset('assets/images/logo/logoW.jpg') }}" rel="icon">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700;800;900&family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="{{asset('assets/css/libraries.css')}}">
  <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}

  <script src="{{asset('assets/js/jquery-3.5.1.min.js')}}"></script>
  <script src="{{asset('assets/js/plugins.js')}}"></script>
  <script src="{{asset('assets/js/main.js')}}"></script>
  
        {% endblock %}
    </head>
    <body>
<div class="wrapper">
    <!--div class="preloader">
      <div class="loading">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div--><!-- /.preloader -->

    <!-- =========================
        Header 
    =========================== -->
    <header class="header header-transparent" style="background-color: #0E2B5C">
      <nav class="navbar navbar-expand-lg sticky-navbar">
        {% include('header.html.twig')%}<!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->
    
            {% block body %}{% endblock %}

     <!-- ========================
      Footer
    ========================== -->
   {% include('footer.html.twig')%}<!-- /.Footer -->
    <button id="scrollTopBtn" style="background-color: #0E2B5C"><i class="fas fa-long-arrow-alt-up"></i></button>
 {% include('boutton-information.html.twig')%}
  </div>
    </body>
</html>
