 <footer class="footer bg-heading">
      <div class="bg-img"><img src="assets/images/backgrounds/2.png" alt="backgrounds"></div>
      <div class="footer-contact pt-50 pb-50">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-2">
              <div class="contact-info">
                <h6 class="footer-widget__title">Nos Contacts</h6>
                <ul class="contact-list list-unstyled mb-0">
                  <li><a href="tel:+221784834198">+221 78 483 41 98</a></li>
                  <li><a href="tel:+221777546917">+221 77 754 69 17</a></li>
                  <li><a href="mailto:westaftech1@gmail.com">westaftech1@gmail.com</a></li>
                </ul>
              </div><!-- /.contact-info -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-4 col-md-4 col-lg-2">
              <div class="contact-info">
                <h6 class="footer-widget__title">Address</h6>
                <ul class="contact-list list-unstyled mb-0">
                  <li>Scat-Urbam/Liberté 6/Dakar/Sénégal</li>
                </ul>
              </div><!-- /.contact-info -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-4 col-md-4 col-lg-2">
              <div class="contact-info">
                <h6 class="footer-widget__title">Heures d'ouverture</h6>
                <ul class="contact-list list-unstyled mb-0">
                  <li>Lun - Ven: 8h - 18h</li>
                  <li>Sat - Sun: 10h - 14h</li>
                </ul>
              </div><!-- /.contact-info -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-12 col-md-8 col-lg-6">
              <h6 class="footer-widget__title">Abonnez vous à la Newsletter</h6>
              <form class="footer-form d-flex mb-0">
                <input type="text" class="form-control mr-20" placeholder="Entrer votre address mail">
                <button type="submit" class="btn btn__primary btn__primary-style2" style="background-color: #0E2B5C">S'abonner</button>
              </form>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-contact -->
      <div class="footer-primary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 footer-widget footer-widget-about">
              <div class="footer-widget__content">
                <img src="{{asset('assets/images/logo/logo2.jpg') }}" alt="logo" class="mb-30">
                <p class="color-gray mb-40">Nous sommes des professionnels expérimentés qui vous ofrrent des solutions Digitales aux meilleures prix et assurons  la représentation de votre entreprise sur Internet. </p>
                <ul class="social-icons list-unstyled mb-0">
                  <li><a href="https://www.facebook.com/Westaf-Tech-100669951967560" target="_blank"><i class="fab fa-facebook-f" ></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </ul><!-- /.social-icons -->
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-xl-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget__title">WESTAF TECH</h6>
              <div class="footer-widget__content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="{{path('A-Propos')}}">Notre Agence</a></li>
                    <li><a href="{{path('Contact')}}">Rencontrez notre équipe</a></li>
                    <li><a href="{{path('Contact')}}">Contact</a></li>
                    <li><a href="{{path('Contact')}}">Investisseurs</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget__title">Nos services</h6>
              <div class="footer-widget__content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Gestion IT</a></li>
                    <li><a href="#">Cyber-Sécurité</a></li>
                    <li><a href="#">Developpement logiciel</a></li>
                    <li><a href="#">Conseil Informatique</a></li>
                    <li><a href="#">Support Informatique</a></li>
                    <li><a href="#">Deveoloppement D'apllications</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget__title">Nos Partenaires</h6>
              <div class="footer-widget__content">
                <nav>
                  <ul class="list-unstyled">
                    <li><a href="#">Tarifs et Plans</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Aide & FAQ</a></li>
                    <li><a href="{{path('Contact')}}">Nous Contacter</a></li>
                  </ul>
                </nav>
              </div><!-- /.footer-widget__content -->
            </div><!-- /.col-lg-2 -->
            <!--div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
              <h6 class="footer-widget__title">We're Hiring</h6>
              <div class="footer-widget__content">
                <p class="fz-14 color-white">Interested in joining the Mintech team?</p>
                <a href="careers.html" class="btn btn__primary btn__primary-style2 btn__link">
                  <span>Our Careers</span><i class="icon-arrow-right icon-outlined"></i>
                </a>
              </div>
            </div--><!-- /.col-lg-2 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-primary -->
      <div class="footer-secondary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <span class="fz-14"> &copy;&nbsp{{ "now"|date("Y") }} <a class="fz-14 color-primary" href="https://www.facebook.com/Westaf-Tech-100669951967560" style="color: #FFFFFF99"><a href="https://www.facebook.com/Westaf-Tech-100669951967560" style="color: #FFFFFF99" target="_blank">WESTAF TECH</a></a>, Tout droits réservés.</span>
              
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.footer-secondary -->
    </footer>